* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #edf7fe;
}

.colordatabela {
  background-color: #5a849f;
}

.iniciou {
  width: 400px;
  height: 300px;
  margin: 150px 0 0 450px;
  border-color: #87cefa;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
}

.caixainputs {
  padding: 50px 0 0 20px;
  display: flex;
  flex-direction: column;
}

label {
  padding: 0 0 20px 40px;
}

input {
  margin: 10px 20px 10px 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 10%;
}

button {
  margin: 0 0 0 150px;
  padding: 5px 10px 5px 10px ;
}